---

---

<section class="footer" id="footer">
    <ul class="social-media">
        <li>
            <a href="#"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-instagram"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                    ></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M16.5 7.5l0 .01"></path>
                </svg></a
            >
        </li>
        <li>
            <a href="#"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-twitter"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
                    ></path>
                </svg></a
            >
        </li>
        <li>
            <a href="#"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-facebook"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                    ></path>
                </svg></a
            >
        </li>
        <li>
            <a href="#"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-pinterest"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#2c3e50"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 20l4 -9"></path>
                    <path
                        d="M10.7 14c.437 1.263 1.43 2 2.55 2c2.071 0 3.75 -1.554 3.75 -4a5 5 0 1 0 -9.7 1.7"
                    ></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                </svg></a
            >
        </li>
    </ul>
    <ul class="nav-list">
        <li><a href="#about">About</a></li>
        <li><a href="#articles-section">Articles</a></li>
        <li><a href="#subscribe">Subscribe</a></li>
    </ul>
</section>

<style>
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
    }
    ul {
        display: flex;
    }
    .icon-tabler,
    a {
        display: block;
    }
    .icon-tabler {
        stroke: #e7d8d8;
    }
    ul.social-media {
        gap: 0.5rem;
    }
    ul.social-media li {
        background-color: #525451;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    ul.nav-list {
        gap: 2rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
    ul.nav-list li:hover{
        color: rgb(157, 160, 157);
    }
    li:has(svg.icon-tabler-brand-instagram):hover {
        background: #f09433;
        background: -moz-linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
        background: -webkit-linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
        background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
        );
    }
    li:has(svg.icon-tabler-brand-twitter):hover {
        background: #1da1f2;
    }
    li:has(svg.icon-tabler-brand-facebook):hover {
        background: #3b5998;
    }
    li:has(svg.icon-tabler-brand-pinterest):hover {
        background-color: #E60023;
    }

    @media(max-width: 600px){
        .footer{
            flex-direction: column-reverse;
            gap: 1rem;
        }
        ul.nav-list{
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }
    }
</style>
